@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-regular.woff2?v=173274557065148323861664496985")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-regular.woff?v=131614452431542278631664496986")
			format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-italic.woff2?v=63395151098712216821664496989")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-italic.woff?v=25586262476452705021664496989")
			format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-700.woff2?v=158850229941636173651664496987")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-700.woff?v=6931478254906387981664496985")
			format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-700italic.woff2?v=12072645520342799031664496989")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-700italic.woff?v=95021196663909834681664496986")
			format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-900.woff2?v=177893469219494296291664496988")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-900.woff?v=62463775945404178491664496986")
			format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-900italic.woff2?v=94847263749617804131664496983")
			format("woff2"),
		url("//cdn.shopify.com/s/files/1/0640/1409/0461/t/3/assets/roboto-v30-latin-900italic.woff?v=168358792725433050981664496981")
			format("woff");
}
